html {
	width: 100%;
}

body {
	width: 100%;
	margin: 0;
}

header {
	display: grid;
	width: 100%;
	min-height: 400px;
	background: url('img/rouen_banner.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color:  white;
	align-content: center;
}

#titre_principal, #sous_titre_principal {
	display: inline-block;
	vertical-align: top;
	color:  black;
	background-color: white;
	border: 1px solid black;
	padding: 2px;
}

#titre_principal {
	font-size: 4em;
}

section {
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 10px;
	width: 980px;
	border-top: 1px solid black;
}

section h2 {
	text-align: center;
}

.contenu_section {
	display: grid;
	align-items: center;
	grid-template-columns: 50% 50%;
}

.contenu_section > img {
	width: 100%;
}

.texte {
	padding-left: 20px;
	padding-right: 20px;
}

#mini_galerie {
	display: grid;
	width: 100%;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	align-items: center;
}

#mini_galerie div img {
	width: 90%;
}